* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "neue-haas-grotesk-display", Arial, Helvetica, Sans-Serif;
    ;
}

body {
    margin-bottom: 2rem;
}

h1 {
    font-size: 2.5rem;
    font-weight: 600;
    text-decoration: none;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
    text-decoration: none;
}

h4 {
    font-weight: 600;
    text-decoration: none;
}

a {
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    font-weight: 600;
    text-decoration: none;
    transition: 300ms;
}

a:hover,
a:focus {
    outline: none;
    text-decoration: none;
    outline-offset: 0;
}

img {
    object-fit: cover;
    max-width: 100%;
}

video {
    max-width: 100%;
}

header {}

.header {
    display: flex;
    /*hace los containers flexibles para que puedan ser manipulados*/
    position: fixed;
    /*para que el navegador se quede fijo*/
    width: 100%;
    /* background-color:aqua; */
    padding: 0 5%;
    justify-content: center;
    background-color: #7a7a7a23;
    align-items: center;
    z-index: 1;
    gap: 10rem;
    height: 10vh;
}

.header .header-logo {
    padding: 0;
    justify-content: center;
    width: 20%;
    text-align: center;
}

.header .header-logo img {

    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 0;

}

.header .header-menu {
    
}


.header .header-menu nav ul {
    display: flex;
    /*justify-content: space-between; */
    list-style: none;
    gap: 3.5rem;
}



.header .header-menu nav ul a {

    color: white;

}

.header .header-menu nav a:hover {
    color: #E9C139;
}

.header .header-checkout {

    width: auto
}

.header .header-checkout button {
    border: none;
    background-color: rgba(0, 0, 0, 0);

}



.header .header-checkout a {
    color: white;
}

.header .header-checkout a:hover {
    color: crimson;
}

/*****************SLIDER STYLE***************************/
.slider {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* alinea los hijos de un contenedo*/
    text-align: center;
    justify-content: center;
    /*indica como lo quiero alineado dentro del contenedor en relacion al ej eje x y al eje y*/
}

.slider .slider-image {

    position: absolute;
    z-index: -1;

}

.slider .slider-image img {
    height: 100vh;
    width: 100%;
}

.slider-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:4rem ;
}

.slider .slider-title h1 {
    color: rgb(255, 255, 255);
    margin-bottom: 1rem;
    font-size: 4rem;


}

.slider .slider-description {
    color: rgb(255, 255, 255);
    margin-bottom: 2rem;
    margin: 0 20%;
    font-size: 2rem;

}
/* 
.slider .slider-button{
    width: 35rem;
    height: 8vh;
    margin: 0 50%;
    
}

.slider .slider-button button{
    
    border-radius:50px ;
    border: none;
    font-size: 2rem;
    width: 60%;
    height: 100%;
    cursor: pointer;
    transition: color 0.2s ease-out;
    transition:background-color 0.5s linear; ;
    font-size: 1.5rem ;
}

.slider .slider-button button:hover {
    background-color: #aa3434a8;
    color: rgba(255, 255, 255, 0.836);
} */
.slider-button{
    
}

.slider-button button{
    border: none;
    background-color:#ffffff00 ;
}

.slider-button a {
    width: 200px;
    padding: 20px 30px;
    position: relative;
    display: block;
    text-decoration: none;
    overflow: hidden;
    border-radius: 10px;
    
  }
  
  a:hover .wave {
    top: -120px;
  }
  
  a span {
    position: relative;
    z-index: 1;
    color: white;
    font-size: 15px;
    letter-spacing: 8px;
  }
  
  .wave {
    width: 200px;
    height: 200px;
    background-color: #97363685;
    box-shadow: inset 0 0 50px rgba(255, 0, 0, 0.849);
    position: absolute;
    left: 0;
    top: -80px;
    transition: 0.4s;
    
  }
  
  .wave::before, .wave::after {
    width: 200%;
    height: 200%;
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-75%);
  }
  
  .wave::before {
    border-radius: 45%;
    background-color: rgba(20, 20, 20, 0);
    animation: wave 5s linear infinite;
  }
  
  .wave::after {
    border-radius: 40%;
    background-color: rgba(20,20,20,0.5);
    animation: wave 10s linear infinite;
  }
  
  @keyframes wave {
    0% {
      transform: translate(-50%,-75%) rotate(0deg);
    }
  
    100% {
      transform: translate(-50%,-75%) rotate(360deg);
    }
  }
  

/***********Featured************/

.featured {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;

    align-items: center;
    gap: 2em;
}

.featured .featured-title {}

.featured .featured-description {}

.featured .featured-items {
    display: flex;
    gap: 8em;
}

.featured .featured-items .featured-item {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.featured .featured-items .featured-item .featured-item-img {}

.featured .featured-items .featured-item .featured-item-title {}

.featured .featured-items .featured-item .featured-item-description {}

/*******DETAIL********/

.detail {
    display: flex;
    padding: 15px;
}

.detail .detail-column {
    flex-direction: column;
    align-items: center;
    width: 75%;
    height: 75%;
}

.detail .detail-column .detail-item {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.detail .detail-column .detail-item-audio {
    align-items: center;
}

.detail .detail-column .detail-item .detail-item-icono img {}

.detail .detail-column .detail-item .detail-item-description {}

.detail .detail-column .detail-item .detail-item-description .detail-column-item-description-title {}

.detail .detail-column .detail-item .detail-item-description .detail-column-item-description-text {}

.detail .detail-column .detail-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail .detail-column .detail-img img {
    width: 100%;
    height: 100%;

}


/***********TEAM**********/

.team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;

}

.team .team-title {
    text-align: center;
    margin-bottom: 2rem;
}

.team .team-description {
    text-align: center;
    margin-bottom: 2rem;

}

.team .team-persons {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.team .team-persons .team-persons-item {
    display: flex;
    flex-direction: column;

}

.team .team-persons .team-persons-item .team-persons-item-img img {
    width: 16.375em;
    height: 16.375em;

}

/*******CONTACT STYLES************/

.contact {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact .contact-map {
    width: 100%;

}

.contact .contact-map iframe {
    width: 100%;
    height: 95vh;
    z-index: -1;
    position: relative;
}


.contact .contact-card {
    display: flex;
    justify-content: center;
    position: absolute;
    align-items: center;
    width: 60%;
    height: 40vh;
    text-align: center;
}

.contact .contact-card .contact-card-front {
    background-color: rgba(255, 255, 255, 0.925);
    height: 100%;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;



}

.contact .contact-card .contact-card-front .contact-card-title {}

.contact .contact-card .contact-card-front .contact-card-content {
    text-align: center;
    display: flex;
    gap: 1rem;
    align-items: ;
}

.contact .contact-card .contact-card-front .contact-card-content .contact-card-content-direction-icon {
    width: 2rem;
    height: 2rem;
}

.contact .contact-card .contact-card-front .contact-card-content .contact-card-content-direction-description {}

.contact .contact-card .contact-card-front .contact-card-button {}


footer {
    /* gap: 5rem;????? */
}

.footer-content {

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
}

.footer-content .footer-menu ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
    list-style: none;
    gap: 1rem;

}

.footer-content .footer-menu ul li a svg {
    width: 3rem;
    height: 3rem;
}

.footer-rights {}

.footer-rights .footer-lista {
    margin-bottom: 1rem;
}

.footer-rights .footer-lista ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 1rem;

}

.footer-rights .footer-derechos {
    text-align: center;
}