* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

body {

    background-color: $secondary-color;
    color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    font-family: "neue-haas-grotesk-display", Arial, Helvetica, Sans-Serif;

}

h1 {
    font-size: 2.5rem;
    font-weight: 600;
    text-decoration: none;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
    text-decoration: none;
}

h4 {
    font-weight: 600;
    text-decoration: none;
}

a {
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    font-weight: 600;
    text-decoration: none;
    transition: 300ms;
}

a:hover,
a:focus {
    outline: none;
    text-decoration: none;
    outline-offset: 0;
}

img {
    object-fit: cover;
    max-width: 100%;
}

video {
    max-width: 100%;
}



.header {
    display: flex;
    /*hace los containers flexibles para que puedan ser manipulados*/
    position: fixed;
    /*para que el navegador se quede fijo*/
    width: 100%;
    /* background-color:aqua; */
    padding: 0 5%;
    justify-content: space-around;
    background-color: #502910ab;
    align-items: center;
    z-index: 1;

    height: 15vh;
}



.header .header-logo {
    padding: 0;
    justify-content: center;
    width: 10%;
    text-align: center;
}

.header .header-logo img {

    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 0;

}

.header .header-menu {}


.header .header-menu nav ul {
    display: flex;
    /*justify-content: space-between; */
    list-style: none;
    gap: 3.5rem;
}



.header .header-menu nav ul a {

    color: white;
    font-size: 1.25rem;

}

.header .header-menu nav a:hover {
    color: #E9C139;
}

.header .header-checkout {
    padding: 0.7rem 2.5rem;
    border-radius: 30px;
    background-color: rgba(255, 115, 0, 0.288);
    cursor: pointer;
}

.header .header-checkout:hover {
    background-color: rgba(255, 136, 0, 0.694);

}

.header .header-checkout button {
    border: none;
    background-color: rgba(0, 0, 0, 0);

}



.header .header-checkout a {
    color: white;
    font-size: 1rem;
}

.header .header-checkout a:hover {}

/*****************SLIDER STYLE***************************/
.slider {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* alinea los hijos de un contenedo*/
    text-align: center;
    justify-content: center;
    /*indica como lo quiero alineado dentro del contenedor en relacion al ej eje x y al eje y*/
}

.slider .slider-image {

    position: absolute;
    z-index: -1;
    width: 100%;

}

.slider .slider-image img {
    height: 100vh;
    width: 100%;
    filter: brightness(0.7);
}

.slider-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.slider .slider-title {
    margin-bottom: 1rem;
}

.slider .slider-title h1 {
    color: rgb(255, 255, 255);
    font-size: 4rem;
}

.slider .slider-description {
    margin: 0 20%;
}

.slider .slider-description p {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: 600;
}

.slider-button {}

.slider-button button {
    border: none;
    background-color: $secondary-color;
}

.slider-button a {
    width: 12.5rem;
    padding: 1.25rem 1.875rem;
    position: relative;
    display: block;
    text-decoration: none;
    overflow: hidden;
    border-radius: 10px;

}

a:hover .wave {
    top: -7.5rem;
}

a span {
    position: relative;
    z-index: 1;
    color: white;
    font-size: 0.9rem;
    letter-spacing: 0.5rem;
}

.wave {
    width: 12.5rem;
    height: 12.5rem;
    background-color: #66300ea0;
    box-shadow: inset 0 0 3.125rem rgba(255, 119, 0, 0.849);
    position: absolute;
    left: 0;
    top: -5rem;
    transition: 0.4s;

}

.wave::before,
.wave::after {
    width: 200%;
    height: 200%;
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
}

.wave::before {
    border-radius: 45%;
    background-color: rgba(20, 20, 20, 0);
    animation: wave 5s linear infinite;
}

.wave::after {
    border-radius: 40%;
    background-color: rgba(20, 20, 20, 0.5);
    animation: wave 10s linear infinite;
}

@keyframes wave {
    0% {
        transform: translate(-50%, -75%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -75%) rotate(360deg);
    }
}


/***********Featured************/

.featured {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;

    align-items: center;
    gap: 2em;
}

.featured .featured-title h2 {
    font-size: 3rem;
    width: 100%;
}

.featured .featured-description p {
    font-size: 1.25rem;
}

.featured .featured-items {
    display: flex;
    gap: 1rem;
    width: 80%;

}

.featured .featured-items .featured-item {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.featured .featured-items .featured-item .featured-item-img {}

.featured .featured-items .featured-item .featured-item-title h3 {
    font-size: 3;
}

.featured .featured-items .featured-item .featured-item-description {
    font-size: 1rem;
}

/*******FAQ EXAM*****/

.faq {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding: 0 15%;
    box-sizing: border-box;
    background-color: $primary-color;
    color: white;
}

.faq .faq-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.faq .faq-intro .faq-title h2{
    font-size:4rem ;
  
}

.faq .faq-intro .faq-description{
    text-align: center;
    width: 53%;
    line-height: 2rem;
    
}

.faq .faq-intro .faq-description p{
    text-align: center;
    font-size: 1.5rem;
}

.faq .faq-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    gap: 2rem;

}

.faq .faq-content .faq-content-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    cursor: pointer;
   
   
}



.faq .faq-content .faq-content-item .faq-content-item-title {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.faq .faq-content .faq-content-item .faq-content-item-title svg{
    width: 1rem;
}

.faq .faq-content .faq-content-item .faq-content-item-title h4 {
    font-size:2rem ;

}
.faq .faq-content .faq-content-item .faq-content-item-line{
    width: 100%;
    height: 1px ;
    background-color:rgb(157, 162, 163) ;
    margin-bottom: 1rem;
}

.faq .faq-content .faq-content-item .faq-content-item-description {
    line-height: 1.5rem;
    font-size: 1.25rem;
    
}

/*******DETAIL********/

.detail {

    display: flex;
    padding: 5% 5%;
    width: 100%;
    height: 90vh;
    margin: 0 auto;
    gap: 2rem;
}

.detail .detail-column {
    display: flex;
    flex-direction: column;
    /* height: 75%; */
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
    width: 100%;
}


.detail .detail-column .detail-item {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 3rem;
}

.detail .detail-column .detail-img-audio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}

/*****REPRODUCTOR****/

@import url('https://fonts.googleapis.com/css?family=Questrial');

.reproductor {

  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

#player {
    background: $secondary-color;
    position: relative;
    margin: auto;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(54, 79, 60, .4);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#player:hover {
    transform: scale(1.05);
}

.album {
    background: linear-gradient(rgba(54, 79, 60, 0.25), rgba(73, 101, 77, 0.55)), url('../img/kendricklamarsliderr.webp');
    background-repeat: no-repeat;
    background-size: 300px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: absolute;
}

.heart {
    position: absolute;
    right: 0;
    color: $secondary-color;
    margin: 10px;
    transition: all 0.4s ease;
}

.clicked {
    color: #49654d;
    transform: scale(1.2);
    transition: all 0.4s ease;
}

.info {
    height: 115px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: rgba(255, 255, 255, .85);
    transform: translateY(35px);
    transition: all 0.5s ease-in-out;
}

.up {
    transform: translateY(0px);
}

.progress-bar {
    height: 5px;
    width: 73%;
    margin: 6% auto;
    background: #9c7b0d;
    border-radius: 10px;
    font-family: 'Questrial', sans-serif;
}

.fill {
    background-color: #9c7b0d;
    width: 35%;
    height: 0.3rem;
    border-radius: 2px;
}

.time--current,
.time--total {
    color: #364f3c;
    font-size: 10px;
    position: absolute;
    margin-top: -2px;
}

.time--current {
    left: 15px;
}

.time--total {
    right: 15px;
}

.currently-playing {
    text-align: center;
    margin-top: -3px;
}

.song-name,
.artist-name {
    font-family: 'Questrial', sans-serif;
    text-transform: uppercase;
    margin: 0;
}

.song-name {
    font-size: 0.8em;
    letter-spacing: 3px;
    color: #9c7b0d;
}

.artist-name {
    font-size: 0.6em;
    letter-spacing: 1.5px;
    color: #9c7b0d;
    margin-top: 5px;
}

.controls {
    display: flex;
    align-items: center;
    font-size: 0.8em;
    justify-content: center;
    color: #9c7b0d;
}

.controls .play,
.controls .pause {
    margin: 15px 25px;
    color: #9c7b0d;
}

.controls .option {
    left: 10px;
    position: absolute;
    font-size: 0.8em;
}

.controls .add {
    right: 10px;
    position: absolute;
    font-size: 0.8em;
}

.controls .volume {
    margin-right: 30px;
    font-size: 0.8em;
}

.controls .shuffle {
    margin-left: 30px;
    font-size: 0.8em;
}

.play,
.pause,
.next,
.previous,
.option,
.add,
.volume,
.shuffle {
    transition: all 0.5s ease;
}

.play:hover,
.pause:hover,
.next:hover,
.previous:hover,
.option:hover,
.add:hover,
.volume:hover,
.shuffle:hover {
    color: #557c5f;
}

/* footer {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: center;
    font-size: 0.5em;
    text-transform: uppercase;
    padding: 10px;
    color: #49654d;
    letter-spacing: 3px;
    font-family: 'Questrial', sans-serif;
}

footer a {
    color: $secondary-color;
    text-decoration: none;
}

footer a:hover {
    color: #49654d;
}
  */


/******REPRODUCTOR*****/


.detail .detail-column .detail-item .detail-item-icono {}



.detail .detail-column .detail-item .detail-item-icono svg {
    width: 5rem;
}



.detail .detail-column .detail-item .detail-item-description {}

.detail .detail-column .detail-item .detail-item-description .detail-column-item-description-title {}

.detail .detail-column .detail-item .detail-item-description .detail-column-item-description-text {}

.detail .detail-column .detail-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail .detail-column .detail-img img {
    width: 100%;
    height: 100%;

}


/***********TEAM**********/

.team {
    background-color: #693514ee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;

}

.team .team-title {
    text-align: center;
    margin-bottom: 2rem;
}

.team .team-description {
    text-align: center;
    margin-bottom: 2rem;

}

.team .team-persons {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.team .team-persons .team-persons-item {
    display: flex;
    flex-direction: column;

}

.team .team-persons .team-persons-item .team-persons-item-img img {
    width: 16.375em;
    height: 16.375em;

}

/*******CONTACT STYLES************/

.contact {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact .contact-map {
    width: 100%;

}

.contact .contact-map iframe {
    width: 100%;
    height: 95vh;
    z-index: -1;
    position: relative;
}


.contact .contact-card {
    display: flex;
    justify-content: center;
    position: absolute;
    align-items: center;
    width: 60%;
    height: 40vh;
    text-align: center;
}

.contact .contact-card .contact-card-front {
    background-color: rgba(255, 255, 255, 0.925);
    height: 100%;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;



}

.contact .contact-card .contact-card-front .contact-card-title {}

.contact .contact-card .contact-card-front .contact-card-content {
    text-align: center;
    display: flex;
    gap: 1rem;

}

.contact .contact-card .contact-card-front .contact-card-content .contact-card-content-direction-icon {
    width: 2rem;
    height: 2rem;
}

.contact .contact-card .contact-card-front .contact-card-content .contact-card-content-direction-description {}

.contact .contact-card .contact-card-front .contact-card-button {}


footer {
    /* gap: 5rem;????? */
}

.footer-content {

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
}

.footer-content .footer-menu ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
    list-style: none;
    gap: 1rem;

}

.footer-content .footer-menu ul li a svg {
    width: 3rem;
    height: 3rem;
}

.footer-rights {}

.footer-rights .footer-lista {
    margin-bottom: 1rem;
}

.footer-rights .footer-lista ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 1rem;

}

.footer-rights .footer-derechos {
    text-align: center;
}