* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-stack    ;
}

h1 {
    font-size: 2.5rem;
    font-weight: 600;
    text-decoration: none;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
    text-decoration: none;
}

h4 {
    font-weight: 600;
    text-decoration: none;
}

a {
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    font-weight: 600;
    text-decoration: none;
    transition: 300ms;
}

a:hover,
a:focus {
    outline: none;
    text-decoration: none;
    outline-offset: 0;
}

img {
    object-fit: cover;
    max-width: 100%;
}

video {
    max-width: 100%;
}




.header {
    display: flex;
    /*hace los containers flexibles para que puedan ser manipulados*/
    position: fixed;
    /*para que el navegador se quede fijo*/
    width: 100%;
    /* background-color:aqua; */
    left: 0;
    padding: 20px 20px 24px;
    justify-content: space-between;
    background-color: #22222371;
    align-items: stretch;
}

.header .header-logo img {

    max-width: 28%;
    /* establece un ancho máximo del 28% del contenedor padre */
    height: auto;
    /* ajusta la altura automáticamente en proporción al ancho */

    margin-left: 2em;
}

.header .header-menu {
    margin-top: 0.9em;
}

.header .header-menu nav ul {
    display: flex;
    /*justify-content: space-between; */
    list-style: none;
    gap: 3.5rem;

}

.header .header-menu nav ul a {

    color: $secondary-color;
}

.header .header-checkout {
    padding: 0.9em 5em;
    width: auto;
}

.header .header-checkout a:hover {
    background-color: rgb(43, 226, 89);
}

/*****************SLIDER STYLE***************************/
.slider {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* alinea los hijos de un contenedo*/
    text-align: center;
    justify-content: center;
    /*indica como lo quiero alineado dentro del contenedor en relacion al ej eje x y al eje y*/
}

.slider .slider-image {

    position: absolute;
    z-index:$z-index-background;

}

.slider .slider-image img {
    height: 100vh;
    width: 100%;
}

.slider .slider-title {
    color: rgb(255, 255, 255);


}

.slider .slider-description {
    color: rgb(255, 255, 255);
    display: block;
    /* margin-block-start: 2em;
    margin-block-end: 2em; */
    text-align: center;

}

.slider .slider-button button:hover {
    background-color: rgb(43, 226, 89);
}

/***********Featured************/

.featured {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;

    align-items: center;
    gap: 2em;
}

.featured .featured-title {}

.featured .featured-description {}

.featured .featured-items {
    display: flex;
    gap: 8em;
}

.featured .featured-items .featured-item {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.featured .featured-items .featured-item .featured-item-img {}

.featured .featured-items .featured-item .featured-item-title {}

.featured .featured-items .featured-item .featured-item-description {}

/*******DETAIL********/

.detail {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    background-color: #9D9D9E;

}

.detail .detail-column {

}

.detail .detail-column .detail-item {
    display: flex;
    gap: 2em;
    margin-bottom: 4em;
    padding-left: 4em;
    padding-right: 4em;
}

.detail .detail-column .detail-item .detail-item-icono {
    width: 2em;
    height: 2em;

}

.detail .detail-column .detail-item .detail-item-description {}

.detail .detail-column .detail-item .detail-item-description .detail-column-item-description-title {}

.detail .detail-column .detail-item .detail-item-description .detail-column-item-description-text {}

.detail .detail-column .detail-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail .detail-column .detail-img img {
    width: 100%;
    height: 100%;

}


/***********TEAM**********/

.team {
    display: flex;
    flex-direction: column;

}

.team .team-title {
    text-align: center;
    margin-bottom: 2rem;
}

.team .team-description {
    text-align: center;
    margin-bottom: 2rem;

}

.team .team-persons {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.team .team-persons .team-persons-item {
    display: flex;
    flex-direction: column;

}

.team .team-persons .team-persons-item .team-persons-item-img img {
    width: 16.375em;
    height: 16.375em;

}

/*******CONTACT STYLES************/

.contact {}

.contact .contact-map {}

.contact .contact-cart {}

.contact .contact-cart .contact-cart-front {}

.contact .contact-cart .contact-cart-front .contact-cart-title {}

.contact .contact-cart .contact-cart-front .contact-cart-content {}

.contact .contact-cart .contact-cart-front .contact-cart-content .contact-cart-content-direction-icon {}