footer {
    /* gap: 5rem;????? */
}

.footer-content {

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
}

.footer-content .footer-menu ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
    list-style: none;
    gap: 1rem;

}

.footer-content .footer-menu ul li a svg {
    width: 3rem;
    height: 3rem;
}

.footer-rights {}

.footer-rights .footer-lista {
    margin-bottom: 1rem;
}

.footer-rights .footer-lista ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 1rem;

}

.footer-rights .footer-derechos {
    text-align: center;
}