@charset "UTF-8";
/*Aqui declaramos todas las variables que tenemos en la web*/
@import url("https://fonts.googleapis.com/css?family=Questrial");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  font-family: "neue-haas-grotesk-display", Arial, Helvetica, Sans-Serif;
}

img {
  object-fit: cover;
  max-width: 100%;
}

video {
  max-width: 100%;
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
  text-decoration: none;
}

h2 {
  font-size: 2.5rem;
  font-weight: 600;
  text-decoration: none;
}

h4 {
  font-weight: 600;
  text-decoration: none;
  font-size: 2rem;
}

h5 {
  font-size: 1rem;
}

a {
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  font-weight: 600;
  text-decoration: none;
  transition: 300ms;
}

a:hover,
a:focus {
  outline: none;
  text-decoration: none;
  outline-offset: 0;
}

p {
  font-size: 1.5rem;
}

.header {
  display: flex;
  /*hace los containers flexibles para que puedan ser manipulados*/
  position: fixed;
  /*para que el navegador se quede fijo*/
  width: 100%;
  /* background-color:aqua; */
  padding: 0 5%;
  justify-content: space-around;
  background-color: rgba(80, 41, 16, 0.6705882353);
  align-items: center;
  z-index: 1;
  height: 15vh;
}

.header .header-logo {
  padding: 0;
  justify-content: center;
  width: 10%;
  text-align: center;
}

.header .header-logo img {
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.header .header-menu nav ul {
  display: flex;
  /*justify-content: space-between; */
  list-style: none;
  gap: 3.5rem;
}

.header .header-menu nav ul a {
  color: hsl(0, 0%, 100%);
  font-size: 1.5rem;
  font-weight: 600;
}

.header .header-menu nav a:hover {
  color: #E9C139;
}

.header .header-checkout {
  border-radius: 30px;
  background-color: rgba(255, 115, 0, 0.288);
  cursor: pointer;
}

.header .header-checkout:hover {
  background-color: rgba(255, 136, 0, 0.694);
}

.header .header-checkout button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.7rem 2.5rem;
}

.modal-button {
  width: 100%;
  height: 100%;
}

footer {
  /* gap: 5rem;????? */
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-content .footer-menu ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style: none;
  gap: 1rem;
}

.footer-content .footer-menu ul li a svg {
  width: 3rem;
  height: 3rem;
}

.footer-rights {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer-rights .footer-lista {
  margin-bottom: 1rem;
}

.footer-rights .footer-lista ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 1rem;
}

.footer-rights .footer-derechos {
  text-align: center;
}

.slider {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* alinea los hijos de un contenedo*/
  text-align: center;
  justify-content: center;
  background: linear-gradient(to bottom, hsla(23, 69%, 25%, 0), rgb(255, 255, 255));
  /*indica como lo quiero alineado dentro del contenedor en relacion al ej eje x y al eje y*/
}

.slider .slider-image {
  position: absolute;
  z-index: -1;
  width: 100%;
}

.slider .slider-image img {
  height: 100vh;
  width: 100%;
}

.slider-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.slider .slider-title {
  margin-bottom: 1rem;
}

.slider .slider-title h1 {
  color: rgb(0, 0, 0);
  font-size: 4rem;
}

.slider .slider-description {
  margin: 0 20%;
}

.slider .slider-description p {
  color: rgb(0, 0, 0);
  font-size: 2rem;
  font-weight: 600;
}

.slider-button button {
  border: none;
  border-radius: 10px;
  background-color: hsl(23, 68%, 25%);
  animation: move 2s ease-in-out infinite alternate;
}

.slider-button a {
  width: 12.5rem;
  padding: 1.25rem 1.875rem;
  position: relative;
  display: block;
  text-decoration: none;
  overflow: hidden;
  border-radius: 10px;
}

.slider-button button:hover {
  animation-play-state: paused;
}

@keyframes move {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}
a:hover .wave {
  top: -7.5rem;
}

a span {
  position: relative;
  z-index: 1;
  color: hsl(0, 0%, 100%);
  font-size: 0.9rem;
  letter-spacing: 0.5rem;
}

.wave {
  width: 12.5rem;
  height: 12.5rem;
  background-color: rgba(102, 48, 14, 0.6274509804);
  box-shadow: inset 0 0 3.125rem rgba(255, 119, 0, 0.849);
  position: absolute;
  left: 0;
  top: -5rem;
  transition: 0.4s;
}

.wave::before,
.wave::after {
  width: 200%;
  height: 200%;
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
}

.wave::before {
  border-radius: 45%;
  background-color: rgba(20, 20, 20, 0);
  animation: wave 10s linear infinite;
}

.wave::after {
  border-radius: 40%;
  background-color: rgba(20, 20, 20, 0.5);
  animation: wave 15s linear infinite;
}

@keyframes wave {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}
.modal-content {
  justify-content: center;
  align-items: center;
  padding: 0 0%;
  width: 100%;
  height: 100%;
  position: fixed;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 9999;
  top: 50%;
  left: 50%;
  overflow: hidden;
}

.modal-product {
  display: flex;
  width: 70%;
  height: 80%;
  position: relative;
  background-color: white;
  overflow: hidden;
}

.modal-content-description-button {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 15%;
  height: 5%;
  border-radius: 10px;
  z-index: 1001;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-button {
  width: 100%;
  height: 60%;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: rgba(179, 179, 179, 0.626);
}

.close-button:hover {
  background-color: rgba(122, 122, 122, 0.74);
}

.modal-image {
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.modal-image img {
  width: 50%;
  height: 100%;
}

.modal-content-descriptions {
  display: flex;
  width: 100%;
  z-index: 1001;
  position: relative;
  height: 200%;
}

.modal-content-description {
  width: 100%;
  height: 100%;
  transition: order 1s;
  order: 1;
  background-color: white;
  display: flex;
  flex-direction: column;
  position: absolute;
}

.modal-content-description {
  height: 100%;
  width: 100%;
}

.modal-description {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  padding: 5% 5%;
  bottom: 0;
  transition: transform 1s;
}

#uno {
  background-color: aqua;
}

.modal-description.activeForm {
  transform: translateY(-100%);
}

.modal-descripcion-album {
  font-size: 1.5rem;
  font-weight: 4rem;
}

.presentation-description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modal-prices {
  display: flex;
  gap: 1rem;
  height: 5%;
  align-items: center;
  width: 50%;
}

.modal-info-list {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
}

.modal-info-list ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  width: 100%;
  height: 100%;
}

.modal-info-list ul li {
  width: 100%;
  height: 100%;
}

.modal-info-list ul li button {
  width: 100%;
  border: none;
  cursor: pointer;
  background-color: rgba(255, 115, 0, 0.719);
  border-radius: 5px;
  height: 100%;
}

.modal-info-list ul li button:hover {
  background-color: rgb(255, 136, 0);
}

.modal-info-text p .active {
  display: block;
}

.modal-checkout button {
  padding: 0.7rem 2.5rem;
  border-radius: 10px;
  background-color: rgba(255, 115, 0, 0.719);
  cursor: pointer;
  width: 100%;
  border: none;
}

#back {
  width: 20%;
}

.modal-checkout button:hover {
  background-color: rgb(255, 136, 0);
}

.modal-image-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: transform 1s;
}

.modal-image-slide.slide-active {
  transform: translateX(-50%);
}

.modal-form {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 2rem;
  padding: 5% 5%;
  align-items: center;
}

.modal-form-name {
  display: flex;
  gap: 2rem;
  width: 100%;
  height: 15%;
}

.modal-form-name .modal-form-name-input {
  width: 100%;
  height: 100%;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.modal-form-name .modal-form-name-input form {
  width: 100%;
  height: 100%;
}

.modal-form-name .modal-form-name-input form input {
  width: 100%;
  height: 100%;
  padding: 0 5%;
}

.modal-form .modal-adresses {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
  justify-content: center;
  gap: 1rem;
}

.modal-form .modal-adresses .modal-adress {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.modal-form .modal-adresses .modal-adress form {
  width: 100%;
  height: 100%;
}

.modal-form .modal-adresses .modal-adress form input {
  height: 100%;
  width: 100%;
  padding: 0 2%;
}

.modal-form-name .modal-form-name-input form input {
  height: 100%;
  width: 100%;
  padding: 0 5%;
}

.modal-country-input {
  display: flex;
  gap: 2rem;
  width: 100%;
  height: 15%;
  justify-content: flex-start;
}

.modal-country-input .modal-state {
  width: 50%;
  height: 100%;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.modal-country-input .modal-state form {
  width: 100%;
  height: 100%;
}

.modal-country-input .modal-state form input {
  height: 100%;
  width: 100%;
  padding: 0 5%;
}

.modal-country-input .modal-zip {
  width: 50%;
  height: 100%;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.modal-country-input .modal-zip form {
  width: 100%;
  height: 100%;
}

.modal-country-input .modal-zip form input {
  width: 100%;
  height: 100%;
  padding: 0 5%;
}

.modal-input-options {
  width: 100%;
  height: 10%;
}

.modal-input-options button {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
}

.modal-info-list button.active {
  background-color: rgb(248, 219, 140);
}

.modal-text {
  display: none;
}

.modal-text.active {
  display: block;
}

.contador {
  display: flex;
  align-items: center;
  width: 10%;
  height: 5%;
}

.boton-restar, .boton-sumar {
  background-color: #eee;
  border: none;
  padding: 1px 2px;
  font-size: 20px;
  cursor: pointer;
}

.cantidad {
  padding: 0 30%;
  font-size: 1rem;
}

.featured {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom, white, hsla(23, 69%, 25%, 0.888));
  gap: 1rem;
  align-items: center;
}

.featured .featured-title h2 {
  font-size: 3rem;
  width: 100%;
  height: 20%;
}

.featured .featured-description p {
  font-size: 1.25rem;
}

.featured .featured-items {
  display: flex;
  gap: 3rem;
  width: 80%;
  height: 80%;
  justify-content: center;
  align-items: center;
  padding: 5% 5%;
}

.featured .featured-items .featured-item {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 90%;
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
  justify-content: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.featured .featured-items .featured-item:hover {
  transform: scale(1);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
}

.featured .featured-items .featured-item .featured-item-title h3 {
  font-size: 3;
}

.featured .featured-items .featured-item .featured-item-description {
  font-size: 1rem;
}

.faq-columns {
  display: flex;
  width: 100%;
  height: 100vh;
  padding: 3% 10%;
  box-sizing: border-box;
  background: linear-gradient(to bottom, hsla(23, 69%, 25%, 0.865), white);
  align-items: center;
  justify-content: center;
}

.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  color: hsl(0, 0%, 100%);
}

.faq .faq-image img {
  width: 10%;
  height: 50vh;
}

.faq .faq-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.faq .faq-intro .faq-title h2 {
  font-size: 4rem;
  color: rgba(0, 0, 0, 0.904);
}

.faq .faq-intro .faq-description {
  text-align: center;
  width: 53%;
  line-height: 2rem;
  color: rgb(0, 0, 0);
  font-weight: 600;
}

.faq .faq-intro .faq-description p {
  text-align: center;
  font-size: 1.5rem;
}

.faq .faq-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
  gap: 5rem;
  align-items: center;
}

.faq .faq-content .faq-content-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 15%;
  cursor: pointer;
}

.faq .faq-content .faq-content-item.active {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.faq .faq-content .faq-content-item .faq-content-item-title {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.faq .faq-content .faq-content-item .faq-content-item-title svg {
  width: 1rem;
  height: 15%;
}

.faq .faq-content .faq-content-item .faq-content-item-title h4 {
  font-size: 2rem;
  color: black;
}

.faq .faq-content .faq-content-item .faq-content-item-line {
  width: 100%;
  height: 2px;
  background-color: rgb(157, 162, 163);
  margin-bottom: 1rem;
}

.faq .faq-content .faq-content-item .faq-content-item-description {
  overflow: hidden;
  transition: max-height 1s ease-out;
  height: 20%;
}

.faq .faq-content .faq-content-item .faq-content-item-description.active {
  height: 100%;
}

.faq .faq-content .faq-content-item .faq-content-item-description p {
  line-height: 1.5rem;
  font-size: 1.25rem;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s ease-out;
  max-height: 0%;
}

.faq .faq-content .faq-content-item .faq-content-item-description p.active {
  opacity: 1;
  z-index: 1001;
  transition: opacity 0.3s ease-in;
  height: 100%;
}

.detail {
  display: flex;
  padding: 5% 5%;
  width: 100%;
  height: 100%;
  gap: 2rem;
  background: linear-gradient(to bottom, white, hsla(23, 69%, 25%, 0.902));
  justify-content: center;
  align-items: center;
}

.detail .detail-column {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
  width: 100%;
}

.detail .detail-column .detail-item {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 3rem;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
  padding: 5% 5%;
}

.detail .detail-column .detail-item:hover {
  transform: scale(1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.detail .detail-column .detail-img-audio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}

.detail-column-item-description-title {
  font-weight: 400;
}

.detail-column-item-description-text {
  font-weight: 200;
}

/*****REPRODUCTOR****/
.reproductor {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

#player {
  background: hsl(0, 0%, 100%);
  position: relative;
  margin: auto;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 5px 5px 15px rgba(54, 79, 60, 0.4);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#player:hover {
  transform: scale(1.05);
}

.album {
  background: linear-gradient(rgba(54, 79, 60, 0.25), rgba(73, 101, 77, 0.55)), url("../img/kendricklamarsliderr.webp");
  background-repeat: no-repeat;
  background-size: 300px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  position: absolute;
}

.heart {
  position: absolute;
  right: 0;
  color: hsl(0, 0%, 100%);
  margin: 10px;
  transition: all 0.4s ease;
}

.clicked {
  color: #49654d;
  transform: scale(1.2);
  transition: all 0.4s ease;
}

.info {
  height: 115px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: rgba(255, 255, 255, 0.85);
  transform: translateY(35px);
  transition: all 0.5s ease-in-out;
}

.up {
  transform: translateY(0px);
}

.progress-bar {
  height: 5px;
  width: 73%;
  margin: 6% auto;
  background: #9c7b0d;
  border-radius: 10px;
  font-family: "Questrial", sans-serif;
}

.fill {
  background-color: #9c7b0d;
  width: 35%;
  height: 0.3rem;
  border-radius: 2px;
}

.time--current,
.time--total {
  color: #364f3c;
  font-size: 10px;
  position: absolute;
  margin-top: -2px;
}

.time--current {
  left: 15px;
}

.time--total {
  right: 15px;
}

.currently-playing {
  text-align: center;
  margin-top: -3px;
}

.song-name,
.artist-name {
  font-family: "Questrial", sans-serif;
  text-transform: uppercase;
  margin: 0;
}

.song-name {
  font-size: 0.8em;
  letter-spacing: 3px;
  color: #9c7b0d;
}

.artist-name {
  font-size: 0.6em;
  letter-spacing: 1.5px;
  color: #9c7b0d;
  margin-top: 5px;
}

.controls {
  display: flex;
  align-items: center;
  font-size: 0.8em;
  justify-content: center;
  color: #9c7b0d;
}

.controls .play,
.controls .pause {
  margin: 15px 25px;
  color: #9c7b0d;
}

.controls .option {
  left: 10px;
  position: absolute;
  font-size: 0.8em;
}

.controls .add {
  right: 10px;
  position: absolute;
  font-size: 0.8em;
}

.controls .volume {
  margin-right: 30px;
  font-size: 0.8em;
}

.controls .shuffle {
  margin-left: 30px;
  font-size: 0.8em;
}

.play,
.pause,
.next,
.previous,
.option,
.add,
.volume,
.shuffle {
  transition: all 0.5s ease;
}

.play:hover,
.pause:hover,
.next:hover,
.previous:hover,
.option:hover,
.add:hover,
.volume:hover,
.shuffle:hover {
  color: #557c5f;
}

/******REPRODUCTOR*****/
.detail .detail-column .detail-item .detail-item-icono svg {
  width: 5rem;
  height: 5rem;
}

.detail .detail-column .detail-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail .detail-column .detail-img img {
  width: 100%;
  height: 100%;
}

.team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
  gap: 4rem;
  padding: 10% 0%;
  align-items: center;
  background: linear-gradient(to bottom, hsla(23, 68%, 25%, 0.902), white);
}

.team .team-image {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.team .team-title {
  text-align: center;
  margin-bottom: 2rem;
  color: black;
}

.team .team-description {
  text-align: center;
  margin-bottom: 2rem;
  padding: 0 20%;
  color: black;
  font-weight: 600;
  line-height: 2.5rem;
}

.team .team-persons {
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  width: 80%;
  height: 90%;
  gap: 5rem;
}

.team .team-persons .team-persons-item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transition: all 0.3s ease-in-out;
  padding: 1% 1%;
  border-radius: 5px;
}

.team .team-persons .team-persons-item:hover {
  transform: scale(1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.team .team-persons .team-persons-item .team-persons-item-img {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1000;
}

.team .team-persons .team-persons-item .team-persons-item-img img {
  width: 100%;
  height: 100%;
}

.hamburguer {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6980392157);
  border-radius: 40px;
  position: absolute;
  top: 5%;
  right: 5%;
  z-index: 1001;
  cursor: pointer;
  align-items: center;
}

.hamburguer .hamburguer-icon {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hamburguer .hamburguer-icon svg {
  height: 2rem;
  width: 2rem;
}

.hamburguer.active {
  height: max-content;
  width: max-content;
}

.team-persons-item-name {
  font-size: 2rem;
  font-weight: 200;
  color: white;
}

.menu-items {
  display: none;
  transition: all 1s ease-in;
}

.menu-items ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.menu-items ul li svg {
  height: 1.5rem;
  width: 1.5rem;
}

.menu-items.active {
  display: block;
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transform: scale(1.2);
}

.hamRotate.active {
  transform: rotate(45deg);
}

.hamRotate180.active {
  transform: rotate(180deg);
}

.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #000;
  stroke-width: 7;
  stroke-linecap: round;
}

.ham1 .top {
  stroke-dasharray: 40 139;
}

.ham1 .bottom {
  stroke-dasharray: 40 180;
}

.ham1.active .top {
  stroke-dashoffset: -98px;
}

.ham1.active .bottom {
  stroke-dashoffset: -138px;
}

.contact {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact .contact-map {
  width: 100%;
}

.contact .contact-map iframe {
  width: 100%;
  height: 95vh;
  z-index: -1;
  position: relative;
}

.contact .contact-card {
  display: flex;
  justify-content: center;
  position: absolute;
  align-items: center;
  width: 45%;
  height: 75%;
  text-align: center;
  transition: transform 0.5s ease-in-out; /* Agregamos la transición al transform */
}

.contact .contact-card .contact-card-front {
  background-color: rgb(255, 255, 255);
  height: 100%;
  backface-visibility: hidden;
  align-items: flex-start;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4.5rem;
  transform: perspective(1000px) rotateY(0deg);
  transition: 1s;
  position: relative;
  justify-content: center;
  padding: 0 5%;
  border-radius: 5px;
}

.contact .contact-card .contact-card-front .contact-card-title {
  color: rgb(165, 174, 179);
  width: 100%;
  text-align: center;
}

.contact .contact-card .contact-card-back .contact-card-title {
  color: rgb(165, 174, 179);
}

.contact .contact-card .contact-card-back {
  background-color: rgb(255, 255, 255);
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  backface-visibility: hidden;
  transform: perspective(1000px) rotateY(-180deg);
  transition: 1s;
  justify-content: center;
  padding: 0 5%;
}

.contact-card.active .contact-card-front {
  transform: perspective(1000px) rotateY(180deg);
}

.contact-card.active .contact-card-back {
  transform: perspective(1000px) rotateY(0deg);
}

.contact .contact-card .contact-card-front .contact-card-content {
  text-align: center;
  display: flex;
  gap: 1rem;
  color: rgb(165, 174, 179);
  width: 100%;
}

.contact .contact-card .contact-card-front .contact-card-content .contact-card-content-direction-icon {
  width: 2rem;
  height: 2rem;
}

.flip-button {
  width: 100%;
  height: 10%;
}

.flip-button button {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: rgb(0, 132, 255);
  border: none;
}

.flip-button button p {
  color: white;
  font-weight: 600;
}

.flip-button button:hover {
  background-color: rgb(0, 81, 255);
}

.contact-card-back-registration {
  width: 100%;
  height: 12%;
  display: flex;
  gap: 2rem;
}

.contact-card-back-registration form {
  width: 95%;
  height: 100%;
}

.contact-card-back-registration form input {
  width: 100%;
  height: 100%;
  padding: 0 10%;
  font-size: 1rem;
}

.contact-card-back-subject {
  width: 100%;
  height: 12%;
}

.contact-card-back-subject form {
  width: 100%;
  height: 100%;
}

.contact-card-back-subject input {
  width: 100%;
  height: 100%;
  padding: 0 5%;
  font-size: 1rem;
}

.contact-card-back-message {
  width: 100%;
  height: 12%;
}

.contact-card-back-message form {
  width: 100%;
  height: 100%;
}

.contact-card-back-message form input {
  width: 100%;
  height: 100%;
  padding: 0 5%;
  font-size: 1rem;
}

/*# sourceMappingURL=app.css.map */
