.detail {

    display: flex;
    padding: 5% 5%;
    width: 100%;
    height: 100%;
    gap: 2rem;
    background: linear-gradient(to bottom, white, hsla(23, 69%, 25%, 0.902));
    justify-content: center;
    align-items: center;

      
}

.detail .detail-column {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
    width: 100%;
}
 

.detail .detail-column .detail-item {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 3rem;
    transition: all 0.2s ease-in-out;
    border-radius: 5px;
    padding: 5% 5%;
    // padding: 0% 0%;
}

.detail .detail-column .detail-item:hover{
    transform: scale(1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
} 

.detail .detail-column .detail-img-audio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}
.detail-column-item-description-title{
    font-weight: 400
}

.detail-column-item-description-text{
    font-weight: 200
}



/*****REPRODUCTOR****/

@import url('https://fonts.googleapis.com/css?family=Questrial');

.reproductor {

  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

#player {
    background: $secondary-color;
    position: relative;
    margin: auto;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(54, 79, 60, .4);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#player:hover {
    transform: scale(1.05);
}

.album {
    background: linear-gradient(rgba(54, 79, 60, 0.25), rgba(73, 101, 77, 0.55)), url('../img/kendricklamarsliderr.webp');
    background-repeat: no-repeat;
    background-size: 300px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: absolute;
}

.heart {
    position: absolute;
    right: 0;
    color: $secondary-color;
    margin: 10px;
    transition: all 0.4s ease;
}

.clicked {
    color: #49654d;
    transform: scale(1.2);
    transition: all 0.4s ease;
}

.info {
    height: 115px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: rgba(255, 255, 255, .85);
    transform: translateY(35px);
    transition: all 0.5s ease-in-out;
}

.up {
    transform: translateY(0px);
}

.progress-bar {
    height: 5px;
    width: 73%;
    margin: 6% auto;
    background: #9c7b0d;
    border-radius: 10px;
    font-family: 'Questrial', sans-serif;
}

.fill {
    background-color: #9c7b0d;
    width: 35%;
    height: 0.3rem;
    border-radius: 2px;
}

.time--current,
.time--total {
    color: #364f3c;
    font-size: 10px;
    position: absolute;
    margin-top: -2px;
}

.time--current {
    left: 15px;
}

.time--total {
    right: 15px;
}

.currently-playing {
    text-align: center;
    margin-top: -3px;
}

.song-name,
.artist-name {
    font-family: 'Questrial', sans-serif;
    text-transform: uppercase;
    margin: 0;
}

.song-name {
    font-size: 0.8em;
    letter-spacing: 3px;
    color: #9c7b0d;
}

.artist-name {
    font-size: 0.6em;
    letter-spacing: 1.5px;
    color: #9c7b0d;
    margin-top: 5px;
}

.controls {
    display: flex;
    align-items: center;
    font-size: 0.8em;
    justify-content: center;
    color: #9c7b0d;
}

.controls .play,
.controls .pause {
    margin: 15px 25px;
    color: #9c7b0d;
}

.controls .option {
    left: 10px;
    position: absolute;
    font-size: 0.8em;
}

.controls .add {
    right: 10px;
    position: absolute;
    font-size: 0.8em;
}

.controls .volume {
    margin-right: 30px;
    font-size: 0.8em;
}

.controls .shuffle {
    margin-left: 30px;
    font-size: 0.8em;
}

.play,
.pause,
.next,
.previous,
.option,
.add,
.volume,
.shuffle {
    transition: all 0.5s ease;
}

.play:hover,
.pause:hover,
.next:hover,
.previous:hover,
.option:hover,
.add:hover,
.volume:hover,
.shuffle:hover {
    color: #557c5f;
}

// footer {
//     position: absolute;
//     bottom: 0;
//     right: 0;
//     text-align: center;
//     font-size: 0.5em;
//     text-transform: uppercase;
//     padding: 10px;
//     color: #49654d;
//     letter-spacing: 3px;
//     font-family: 'Questrial', sans-serif;
// }

// footer a {
//     color: $secondary-color;
//     text-decoration: none;
// }

// footer a:hover {
//     color: #49654d;
// }
 


/******REPRODUCTOR*****/

.detail .detail-column .detail-item

.detail .detail-column .detail-item .detail-item-icono {}



.detail .detail-column .detail-item .detail-item-icono svg {
    width: 5rem;
    height: 5rem;
}



.detail .detail-column .detail-item .detail-item-description {}

.detail .detail-column .detail-item .detail-item-description .detail-column-item-description-title {}

.detail .detail-column .detail-item .detail-item-description .detail-column-item-description-text {}

.detail .detail-column .detail-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail .detail-column .detail-img img {
    width: 100%;
    height: 100%;

}


