.team {
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;

}

.team .team-title {
    text-align: center;
    margin-bottom: 2rem;
}

.team .team-description {
    text-align: center;
    margin-bottom : 2rem;
    padding:0 20%;

}

.team .team-persons {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.team .team-persons .team-persons-item {
    display: flex;
    flex-direction: column;

}

.team .team-persons .team-persons-item .team-persons-item-img {
    width: 16.375em;
    height: 16.375em;
    position: relative;
    z-index: $z-index-mid;;
}

.team .team-persons .team-persons-item .team-persons-item-img img{
    width: 100%;
    height: 100%;

}
.hamburguer{
    width: 15%;
    height: 15%;
    background-color: #000;
    border-radius: 20px;
    position: absolute;
    top: 5%;
    right: 5%;
    z-index: $z-index-front;;
    
}