/*Aqui declaramos todas las variables que tenemos en la web*/

//z-index

$z-index-slider:-1;
$z-index-slider2:1;



//colors

$primary-color:	hsl(23, 68%, 25%);
$secondary-color:rgb(255,255,255);

//typography

$font-stack:;
$font-stack-condensed:;